@model ShopCartViewModel
<div class="container" style="margin-top:100px">
    @foreach (var el in Model.ShopCart.ListShopCartItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль:</b>@el.Car.Name<br />
            <b>Цена:</b>@el.Car.Price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>